:root {
    --hex-hover-color: rgb(30, 167, 30);
}



.row:nth-child(even) {

    margin-left: 106px;
}

.row {
    display: flex;
    justify-content: center;
    clear: left;
}

.hex {
    float: left;
    margin-left: 3px;
    margin-bottom: -28px;
    scale: 1;
}

.top {
    width: 0;
    height: 0px;
    border-bottom: 30px solid #6C6;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
}

.mid {
    width: 104px;
    height: 60px;
    background-color: #6C6;
    text-align: center;
    font-size: 250%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 1000;
}

.bot {
    width: 0;
    height: 0px;
    border-top: 30px solid #6C6;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;

}

.top,
.mid,
.bot {
    pointer-events: none;
    transition: none;
}

/* Hover effect for hexagons */
.hex:hover .top {
    border-bottom-color: var(--hex-hover-color);
}

.hex:hover .mid {
    background-color: var(--hex-hover-color);
}

.hex:hover .bot {
    border-top-color: var(--hex-hover-color);
}


/* --------------------------- menu  ------------------------------*/
body {
    background-color: rgb(95, 158, 160);
    overflow: auto;
    width: 100%;
    margin: 0;
}
#container{
    height: 100vh;
}
#menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
#insidemenu{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    background-color: rgb(128, 208, 211);
    height: 70%;
    width: 45%;
    border: 4px solid rgb(112, 185, 187);
    border-radius: 20px;
}
fieldset{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 4px solid rgb(112, 185, 187);
    background-color: rgb(112, 185, 187);
    border-radius: 10px;
    width: 80%;
}
legend{
    font-size: 150%;
    font-weight: 1000;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(112, 185, 187);
    border: 4px solid rgb(112, 185, 187);
    border-radius: 10px;
}
h1{
    font-size: 300%;
    font-weight: 1000;
    font-family: 'Courier New', Courier, monospace;
    
}
input,button{
    width: 50%;
    padding: 10px;
    font-size: 100%;
    font-weight: 1000;
    font-family: 'Courier New', Courier, monospace;
    border: none;
    border-radius: 5px;
    background-color: rgb(95, 158, 160);
    color: white;
    cursor: pointer;
}
input:focus,button:focus{
    outline: none;
    background-color: rgb(65, 108, 110);
}
input:hover,button:hover{
    background-color: rgb(81, 132, 135);
}
input{
    margin-bottom: 10px;
}

::placeholder {
    color: rgb(56, 52, 52);
    opacity: 1;
}
#map {
    height: fit-content;
    width: fit-content;
}